.edit-form-container {
  width: 100%;
  margin-top: -30rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.edit-form {
  width: 15%;
  padding: 1rem;
  border-radius: 8px;
  background-color: black;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  color: white;
  text-align: left;
  & input {
    margin-bottom: 1rem;
    background-color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.559);
    line-height: 1rem;
    width: 100%;
    color: white;
  }
  & input,
  select,
  textarea {
    color: white;
  }
  & button {
    padding: 0.5rem;
    width: 8rem;
    background-color: rgb(12, 186, 73);
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
  }
}
